In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [6]:
# 연도별 평균 기대 수명(lifeExp)을 계산하고 출력합니다.
avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean() 
# year 기준으로 그룹화 후 lifeExp 평균 계산
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [10]:
years = df['year'].unique()
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [12]:
# 1952년 데이터만 선택하여 y1952 변수에 저장하고 출력합니다.
y1952 = df.loc[df['year'] == 1952, :] 
# year가 1952인 행을 모두 선택
print(y1952)

                 country continent  year  lifeExp       pop    gdpPercap
0            Afghanistan      Asia  1952   28.801   8425333   779.445314
12               Albania    Europe  1952   55.230   1282697  1601.056136
24               Algeria    Africa  1952   43.077   9279525  2449.008185
36                Angola    Africa  1952   30.015   4232095  3520.610273
48             Argentina  Americas  1952   62.485  17876956  5911.315053
...                  ...       ...   ...      ...       ...          ...
1644             Vietnam      Asia  1952   40.412  26246839   605.066492
1656  West Bank and Gaza      Asia  1952   43.160   1030585  1515.592329
1668         Yemen, Rep.      Asia  1952   32.548   4963829   781.717576
1680              Zambia    Africa  1952   42.038   2672000  1147.388831
1692            Zimbabwe    Africa  1952   48.451   3080907   406.884115

[142 rows x 6 columns]

In [13]:
# 1952년 데이터의 평균 기대 수명(lifeExp)을 계산하고 출력합니다.
y1952_mean = y1952['lifeExp'].mean() 
# y1952 데이터에서 lifeExp 컬럼의 평균 계산
print(y1952_mean)

49.057619718309866