## 06-1 간단한 함수 만들기

#### [Do It! 실습] 사용자 함수 만들기

In [27]:
# my_sq 라는 이름의 함수를 정의해요. 이 함수는 숫자 x를 입력받아서 그 제곱을 반환합니다.
def my_sq(x):
    return x ** 2  # x의 제곱을 계산해서 결과를 반환

In [28]:
# avg_2라는 이름의 함수를 정의해요. 두 숫자 x, y를 받아서 평균을 반환합니다.
def avg_2(x, y):
    return (x + y) / 2  # x와 y를 더한 후 2로 나누어 평균 계산

In [29]:
# avg_2 함수에 문서 문자열(docstring)을 추가했어요.
# 이건 다른 사람이 이 함수를 사용할 때 무슨 기능인지 쉽게 알 수 있게 도와줘요.
def avg_2(x, y):
    """두 숫자의 평균을 구하는 함수
    """
    return (x + y) / 2

In [30]:
# my_sq 함수를 사용해서 4의 제곱을 계산하고, 결과를 my_calc_1에 저장해요.
my_calc_1 = my_sq(4)
print(my_calc_1)  # 4의 제곱인 16이 출력됩니다.

16

In [31]:
# avg_2 함수를 사용해서 10과 20의 평균을 계산하고, 결과를 my_calc_2에 저장해요.
my_calc_2 = avg_2(10, 20)
print(my_calc_2)  # 10과 20의 평균인 15.0이 출력됩니다.

15.0

## 06-2 apply() 메서드 사용하기

#### [Do It! 실습] 데이터프레임에 함수 적용하기

In [32]:
# pandas 라이브러리를 불러옵니다. pd라는 이름으로 줄여서 사용해요.
import pandas as pd

# 딕셔너리 형태로 데이터프레임을 만듭니다.
# 'a'라는 열에 [10, 20, 30]이라는 숫자들이 들어가 있어요.
df = pd.DataFrame({"a": [10, 20, 30]})

# df['a']는 'a' 열을 의미해요. 여기에 ** 2 연산을 하면 각 요소의 제곱을 계산할 수 있어요.
print(df['a'] ** 2)  # [100, 400, 900]이 출력됩니다.

0    100
1    400
2    900
Name: a, dtype: int64

In [33]:
# df['a']는 'a' 열을 의미해요. 여기에 ** 2 연산을 하면 각 요소의 제곱을 계산할 수 있어요.
print(df['a'] ** 2)  # [100, 400, 900]이 출력됩니다.

0    100
1    400
2    900
Name: a, dtype: int64

### 시리즈에 함수 적용하기

#### [Do It! 실습] 시리즈에 함수 적용하기

In [34]:
# df['a']는 Series 타입입니다. 어떤 데이터 타입인지 확인해볼게요.
print(type(df['a']))  # 출력: <class 'pandas.core.series.Series'>

<class 'pandas.core.series.Series'>

In [35]:
# df.iloc[0]은 데이터프레임의 첫 번째 행 전체를 가져오는 것이 아니라
# 여기선 df['a'] 열의 첫 번째 값을 의미합니다. 즉, 숫자 하나!
print(type(df.iloc[0]))  # 출력: <class 'numpy.int64'> 또는 <class 'int'>

<class 'pandas.core.series.Series'>

In [36]:
# df['a']에 apply를 사용하면, 각 요소에 함수를 적용할 수 있어요.
# 여기선 앞서 정의한 my_sq 함수(제곱 계산)를 적용합니다.
sq = df['a'].apply(my_sq)  # 각 요소에 my_sq 함수 적용
print(sq)  # 결과: [100, 400, 900]

0    100
1    400
2    900
Name: a, dtype: int64

#### [Do It! 실습] 사용자 함수 만들어 데이터프레임에 적용하기

In [37]:
# my_exp 함수는 숫자 x와 지수 e를 입력받아서, x ** e (x의 e제곱)를 반환합니다.
def my_exp(x, e):
    return x ** e  # 거듭제곱 계산

In [38]:
# 2의 3제곱을 계산한 결과를 cubed 변수에 저장하고 출력해요.
cubed = my_exp(2, 3)

print(cubed)  # 결과: 8

8

In [39]:
# my_exp(2)  # 오류
# my_exp 함수는 x와 e 두 개의 인자를 받아야 해요.
# 인자 하나만 주면 오류가 발생합니다.

# my_exp(2)  # 이 코드는 오류가 발생해서 주석 처리해둔 거예요.

In [40]:
# df['a']에 apply()를 사용해서 my_exp 함수를 적용합니다.
# 여기서 e=2를 추가로 전달해서, 각 요소를 제곱해요.
ex = df['a'].apply(my_exp, e=2)
print(ex)  # 결과: [100, 400, 900] (10^2, 20^2, 30^2)

0    100
1    400
2    900
Name: a, dtype: int64

In [41]:
# 이번에는 같은 방식으로 e=3을 전달해 3제곱을 계산합니다.
ex = df['a'].apply(my_exp, e=3)
print(ex)  # 결과: [1000, 8000, 27000] (10^3, 20^3, 30^3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

### 데이터프레임에 함수 적용하기

In [42]:
df = pd.DataFrame({"a": [10, 20, 30],   # DataFrame 다시 생성
                   "b": [20, 30, 40]})
print(df)  # 출력

    a   b
0  10  20
1  20  30
2  30  40

In [43]:
def print_me(x):  # 각 열 또는 행을 그대로 출력하는 함수
    print(x)

#### [Do It! 실습] 열 단위로 함수 적용하기

In [44]:
df.apply(print_me, axis=0)  # 각 열에 대해 print_me 적용 (axis=0: 열 기준)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [45]:
print(df['a'])  # 'a' 열 출력

0    10
1    20
2    30
Name: a, dtype: int64

In [46]:
print(df['b'])  # 'b' 열 출력

0    20
1    30
2    40
Name: b, dtype: int64

In [47]:
def avg_3(x, y, z):  # 세 수의 평균을 구하는 함수
    return (x + y + z) / 3

In [48]:
# print(df.apply(avg_3))  # 오류

In [49]:
def avg_3_apply(col):  # 열 기준으로 평균을 구하는 함수 (각 열의 첫 3개 원소 사용)
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [50]:
print(df.apply(avg_3_apply))  # 각 열에 대해 평균을 계산해서 출력

a    20.0
b    30.0
dtype: float64

#### [Do It! 실습] 행 단위로 함수 적용하기

In [51]:
# print(df.apply(avg_3_apply, axis=1))  # 오류

In [52]:
def avg_2_apply(row):  # 각 행에 대해 평균을 구하는 함수
    x = row[0]
    y = row[1]
    return (x + y) / 2

In [53]:
print(df.apply(avg_2_apply, axis=1))  # 각 행에 대해 평균을 계산

0    15.0
1    25.0
2    35.0
dtype: float64

C:\Users\user\AppData\Local\Temp\ipykernel_17272\3678049293.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = row[0]
C:\Users\user\AppData\Local\Temp\ipykernel_17272\3678049293.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y = row[1]

## 06-3 람다 함수 사용하기

#### [Do It! 실습] 데이터프레임에 람다 함수 사용하기

In [54]:
df = pd.DataFrame({'a': [10, 20, 30],  # 새로운 DataFrame 생성
                   'b': [20, 30, 40]})
print(df)  # 출력

    a   b
0  10  20
1  20  30
2  30  40

In [55]:
def my_sq(x):  # 제곱하는 함수 정의
    return x ** 2

df['a_sq'] = df['a'].apply(my_sq)  # 'a' 열에 제곱 결과 추가
print(df)  # 출력

    a   b  a_sq
0  10  20   100
1  20  30   400
2  30  40   900

In [56]:
df['a_sq_lamb'] = df['a'].apply(lambda x: x ** 2)  # 람다 함수로 제곱
print(df)  # 출력

    a   b  a_sq  a_sq_lamb
0  10  20   100        100
1  20  30   400        400
2  30  40   900        900

## 06-4 벡터화된 함수 사용하기

#### [Do It! 실습] 벡터화된 함수 사용하기

In [57]:
df = pd.DataFrame({"a": [10, 20, 30],   # 새로운 DataFrame 생성
                   "b": [20, 30, 40]})
print(df)  # 출력

    a   b
0  10  20
1  20  30
2  30  40

In [58]:
def avg_2(x, y):  # 두 수의 평균
    return (x + y) / 2

In [59]:
print(avg_2(df['a'], df['b']))  # 각 열끼리 평균 계산

0    15.0
1    25.0
2    35.0
dtype: float64

In [60]:
import numpy as np  # numpy 불러오기

def avg_2_mod(x, y):  # 특정 조건을 만족하면 NaN 반환
    if (x == 20):
        return(np.NaN)
    else:
        return (x + y) / 2

In [61]:
# print(avg_2_mod(df['a'], df['b']))  # 오류: 요소 단위 연산이 아님

In [62]:
print(avg_2_mod(10, 20))  # 일반 함수 실행

15.0

In [63]:
print(avg_2_mod(20, 30))  # 조건 만족 → NaN 출력

AttributeError: `np.NaN` was removed in the NumPy 2.0 release. Use `np.nan` instead.

### 넘파이와 넘바로 벡터화하기

#### [Do It! 실습] 넘파이로 벡터화하기

In [ ]:
import numpy as np  # numpy 재불러오기 (중복 가능)

avg_2_mod_vec = np.vectorize(avg_2_mod)  # numpy의 vectorize로 벡터화

In [ ]:
print(avg_2_mod_vec(df['a'], df['b']))  # 벡터화 함수로 각 요소 연산

In [ ]:
@np.vectorize
def v_avg_2_mod(x, y):  # 데코레이터 방식 벡터화 함수
    if (x == 20):
        return(np.NaN)
    else:
        return (x + y) / 2

print(v_avg_2_mod(df['a'], df['b']))  # 실행

#### [Do It! 실습] 넘바로 벡터화하기

In [64]:
import numba  # numba 불러오기

@numba.vectorize
def v_avg_2_numba(x, y):  # numba 벡터화 함수
    if (int(x) == 20):
        return(np.NaN)
    else:
        return (x + y) / 2

ModuleNotFoundError: No module named 'numba'

In [ ]:
# print(v_avg_2_numba(df['a'], df['b']))  # 오류: NumPy 배열로 변환 필요

In [ ]:
print(v_avg_2_numba(df['a'].values, df['b'].values))  # NumPy 배열로 넘겨서 실행